body {
    font-family: 'Libre Franklin', sans-serif;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .map-container, .podium-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .map, .podium {
    width: 60%;
    max-width: 1000px;
  }
  
  .graph-description {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #555;
  }
  
  .visualization-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
  }
  
  .visualization {
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 600px;
  }
  
  .section-title {
    text-align: center;
    font-size: 1.5em; /* Adjust size if necessary */
    font-weight: bold;
    margin-bottom: 20px; /* Space between title and visualizations */
    color: #333;
  }
  
  @media (max-width: 800px) {
    .visualization {
      width: 100%;
    }
  }
  